@import './tailwind.css';

* {
    /*border: 1px solid red;*/
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.map-toggle {
    right: -55px;
    top: 89px;
}

.search-bar {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.menu.active {
    background-color: rgba(0, 0, 0, 0.11);
}

@media screen and (min-width: 640px) {
    .search-bar {
        width: 50%;
        left: unset;
        transform: unset;
    }
}
